.modal-contenedor
  padding 0 30px

#email:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px blanco inset

#emailRegistrarse:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px blanco inset

#nombre:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px blanco inset

.cargando
  background-color #EEEEEE
  display flex
  align-items center
  justify-content center
  margin-top 30px
  padding 10px 0
  border-radius 3px

.facebook-btn-contenedor
	margin-top 30px

	& .facebook-btn
		color blanco

		& .facebook-icono
				color blanco
				margin-top -3px
