.recetas-titulo
  font-size 30px
  width 100%
  margin-top 10px
  color alpha(gris, .7)
  text-align center

.crear-recetas-titulo
  font-size 24px
  width 100%
  margin-top 10px
  color alpha(gris, .7)

.crear-recetas-input
  width 50%
  float left
  height 90px

.crear-recetas-boton
  margin-left 5%
  width 45%
  float left
  height 90px

@media screen and (max-width: 800px)

  .crear-recetas-input
    width 100%

  .crear-recetas-boton
    margin-left 0%
    width 100%
