blanco = #fff

gris = #333

gris2 = #5a6170

gris2 = #9da6b8

gris3 = #dcdcdc

negro = #000000

negro2 = rgba(21,21,21,1.00)

negro3 = rgba(46,46,46,1.00)

negro4 = rgba(95,95,95,1.00)

celeste = #00b5ff

celeste2 = #00aeef

celeste3 = #6d63ff

azul = #2d3a43

verde = #75d2d7

rojo = #f03f37

amarilloClaro = #e9f0bd

amarillo = #f3d45f

naranja = #f7815b

naranja2 = #F4831E

rosa = #a13a55

violeta = #55305b

tastyhouse = #e72c4b

principal = tastyhouse

segundo = verde

tercero = gris2

cuarto = gris3

fondo = #151922
